
  <nav class="navbar navbar-light bg-light navbar-expand-lg fixed-top">
      <!-- <img class="navbar-brand" src="img/ping1.png"> -->
      <a href="#" class="navbar-brand" id="brand-name">Share your Quotes today</a>
      <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarcollapse">
      <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarcollapse">
        <ul class="navbar-nav ml-auto">
          <li class="navbar-item"><a href="https://muriithiderro.github.io/portfolio/" class="nav-link">blog</a></li>
          <li class="navbar-item"><a href="https://github.com/muriithiderro" class="nav-link">github</a></li>
          <li class="navbar-item"><a href="#mymodal" class="nav-link" data-toggle="modal">projects</a></li>
        </ul>
      </div>
    </nav>
    